

<mat-toolbar color="primary" class="mat-elevation-z9">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="ml-3">Agenda</span>
</mat-toolbar>


<mat-sidenav-container [hasBackdrop]="false" >

  <mat-sidenav #sidenav
               mode="over"
               (opened)="onMenuOpen()"
               (closed)="onMenuClose()"
               class="p-2"
  >

    <!--    Contenido del sidenav   -->
    <app-nav (closeMenu)="closeMenu()"></app-nav>

  </mat-sidenav>

  <mat-sidenav-content class="p-2">

    <!--    El contenido de las paginas -->
    <h1 *ngIf="!finishedAuthCheck()">
      Loading...
    </h1>

    <router-outlet *ngIf="finishedAuthCheck()"></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>



